# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.python-version

# VENV
.venv/
venv/
env/
bin/
lib/
include/

# ENV
.env
.env.*
secrets.json

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Git
.git/
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Logs
*.log
tmp/
temp/